@page
@using E_Shop.Extensions
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2 class="h2 mt-1 text-success font-weight-bold">Prihláste sa</h2>


@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Heslo</label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.RememberMe"></label>
        <input asp-for="Input.RememberMe" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Prihláste sa</button>
    </div>
</form>
