@page
@using E_Shop.Extensions
@model RegisterModel
@{
    ViewData["Title"] = "Vytvorte si nový účet";
}

<h2 class="text-success font-weight-bold mt-1">@ViewData["Title"]</h2>
@Html.RenderFlashMessages()
<div class="row">
    <div class="col-md-7">
        <form asp-route-returnUrl="~/" method="post">
            <hr />
            <h3 class="text-primary">Heslo</h3>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <h3 class="text-primary">Základné údaje</h3>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <h3 class="text-primary">Údaje firmy - nepovinné</h3>
            <div class="form-group">
                <label asp-for="Input.CompanyName"></label>
                <input asp-for="Input.CompanyName" class="form-control" />
                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IČO"></label>
                <input asp-for="Input.IČO" class="form-control" />
                <span asp-validation-for="Input.IČO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DIČ"></label>
                <input asp-for="Input.DIČ" class="form-control" />
                <span asp-validation-for="Input.DIČ" class="text-danger"></span>
            </div>
            <h3 class="text-primary">Kontaktné údaje</h3>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Fax"></label>
                <input asp-for="Input.Fax" class="form-control" />
                <span asp-validation-for="Input.Fax" class="text-danger"></span>
            </div>
            <h3 class="text-primary">Fakturačná adresa</h3>
            <div class="form-group">
                <label asp-for="Input.StreetNameAndHouseNumber"></label>
                <input asp-for="Input.StreetNameAndHouseNumber" class="form-control" />
                <span asp-validation-for="Input.StreetNameAndHouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PostalCode"></label>
                <input asp-for="Input.PostalCode" class="form-control" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Country"></label>
                <select asp-for="Input.Country" asp-items="@Html.GetEnumSelectList<E_Shop.Data.Models.Country>()"></select>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DeliveryAddressIsAddress" class="h6 text-info"></label>
                <input class="form-control" asp-for="Input.DeliveryAddressIsAddress" onchange="showOrHide()" />
            </div>
            <div id="deliveryAddressControls">
                <h3 class="text-primary">Dodacia adresa</h3>
                <div class="form-group">
                    <label asp-for="Input.StreetHouseNumberDelivery"></label>
                    <input asp-for="Input.StreetHouseNumberDelivery" class="form-control" />
                    <span asp-validation-for="Input.StreetHouseNumberDelivery" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.CityDelivery"></label>
                    <input asp-for="Input.CityDelivery" class="form-control" />
                    <span asp-validation-for="Input.CityDelivery" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PostalCodeDelivery"></label>
                    <input asp-for="Input.PostalCodeDelivery" class="form-control" />
                    <span asp-validation-for="Input.PostalCodeDelivery" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.CountryDelivery"></label>
                    <select asp-for="Input.CountryDelivery" asp-items="@Html.GetEnumSelectList<E_Shop.Data.Models.Country>()"></select>
                    <span asp-validation-for="Input.CountryDelivery" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>       
        function showOrHide() {
            var check = document.getElementById("Input_DeliveryAddressIsAddress");
            var text = document.getElementById("deliveryAddressControls");
            if (check.checked == true) {
                text.style.display = "none";
            } else {
                text.style.display = "block";
            }
        }
    </script>
}
