<div class="bg-primary">
    <ul class="list-inline">
        @if (this.Context.User.IsInRole("Admin"))
        {
            <li class="list-inline-item"><a href="#" class="btn btn-primary">Správa objednávok</a></li>
            <li class="list-inline-item"><a href="#" class="btn btn-primary">Správa kategórií</a></li>
            <li class="list-inline-item"><a asp-controller="Product" asp-action="Manage" class="btn btn-primary">Pridať produkt</a></li>
            <li class="list-inline-item"><a asp-controller="Article" asp-action="Create" class="btn btn-primary">Pridať článok</a></li>
        }
        <li class="list-inline-item"><a href="#" class="btn btn-primary">Objednávky</a></li>
        <li class="list-inline-item"><a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Moje údaje</a></li>
        <li class="list-inline-item"><a asp-page="/ChangePassword" class="btn btn-primary">Zmena hesla</a></li>
    </ul>
</div>



