@using Microsoft.AspNetCore.Identity
@using E_Shop.Data.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item dropdown">
            <a asp-controller="Account" asp-action="Profile" class="nav-link text-primary">Môj účet <i class="fa fa-user"></i></a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link text-primary" asp-controller="Order" asp-action="Cart"><i class="fa fa-shopping-cart"></i>&nbsp;@string.Format("({0} €)", ViewData["CartItemsSum"])</a>
        </li>
        <li class="list-inline-item">
            <form asp-page="/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
                <button type="submit" class="btn bg-transparent text-success"><em>Odhlásiť sa&nbsp;<i class="fa fa-power-off"></i></em></button>
            </form>
        </li>

    </ul>
}
else
{
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            <a asp-page="/Login" class="nav-link text-success"><em>Prihlásiť sa&nbsp;<i class="fa fa-sign-in"></i></em></a>
        </li>
        <li class="list-inline-item">
            <a asp-page="/Register" class="nav-link text-success"><em>Registrovať sa&nbsp;<i class="fa fa-user-plus"></i></em></a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link text-primary" asp-controller="Order" asp-action="Cart"><i class="fa fa-shopping-cart"></i>&nbsp;@string.Format($"({ViewData["CartItemsSum"]} €)" )</a>
        </li>
    </ul>
}



