@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<style>
    .col-sm-4 {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word;
    }
</style>

<p>Use this area to provide additional information.</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4"><h4>Use this area to provide additional informationaaa.</h4></div>
        <div class="col-sm-4"><h4>Use this area to provide additional informatiossssssssssdfsffsdn.</h4></div>
        <div class="col-sm-4"><h4>Use this area to provide additional information.</h4></div>
    </div>
</div>