@model E_Shop.Models.ContactViewModel

@{
    ViewData["Title"] = "Kontakt";
}

<h2 class="mt-3 font-weight-bold text-success">Kontaktujte nás</h2>

<hr />
<div class="row">
    <div class="alert">
        <p class="text-info">
            Kontaktujte náš zákaznícky servis. <br />
            Ďalšie kontakty na naše pobočky nájdete v sekcií "Všetko o nákupe" - Kontakty.
        </p>
    </div>
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SenderEmail" class="control-label"></label>
                <input asp-for="SenderEmail" class="form-control" />
                <span asp-validation-for="SenderEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailBody" class="control-label"></label>
                <textarea asp-for="EmailBody" rows="5" class="form-control"></textarea>
                <span asp-validation-for="EmailBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Odoslať</button>
            </div>
        </form>
    </div>
</div>


